@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
:root {
  --color-background: #d1d8e0;
  --color-background-footer: #3867d6;
  --white-background-block: #e3e7f2;
  --color-titles: #202b38;
  --general-blue: #4b7bec;
  --color-text-box: #d1d8e0;
  --color-background-buttons: #c4c4c4;
}
#app,
#content {
  min-height: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  list-style-type: none;
}
html,
body {
  background: var(--color-background);
}
a,
input[type="button"],
button {
  text-decoration: none;
  transition: 200ms opacity;
}
.header-page {
  color: var(--general-blue);
  background: #e5e5e5;
  height: 73px;
  padding-top: 11px;
}
a:hover,
input[type="button"]:hover,
button:hover {
  opacity: 0.8;
}
textarea:focus,
input:focus {
  outline: none;
}
.container {
  width: 90%;
}
.buttons {
  width: 138px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fields {
  margin: 25px 0;
  padding: 5px;
  width: clamp(60vw, 80vw, 100vw);
  height: 25px;
  background: var(--color-background-buttons);
  color: var(--general-blue);
  border: none;
}
.buttons a, button,
input[type="button"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 25px;
  background: var(--color-background-buttons);
  color: var(--general-blue);
  text-decoration: none !important;
}
@media (min-width: 700px) {
  h1,
  p {
    font-size: 16px !important;
  }
}
